.topToBottom {
    opacity: 0;
    animation: SlideInTopToBottom .8s ease forwards;
    animation-delay: .3s;
}

@keyframes SlideInTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bottomToTop {
    opacity: 0;
    animation: SlideInBottomToTop .8s ease forwards;
    animation-delay: .3s;
}

@keyframes SlideInBottomToTop {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.leftToRight {
    opacity: 0;
    animation: SlideInLeftToRight .8s ease forwards;
    animation-delay: .3s;
}

@keyframes SlideInLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.rightToLeft {
    opacity: 0;
    animation: SlideInRightToLeft .8s ease forwards;
    animation-delay: .3s;
}

@keyframes SlideInRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}